/* 这里是 CSS 中基本的 class 选择器，在 CSS 相关的小节中，老师会详细解释语法细节。 */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* 这里是 CSS3 的 Media Query 语法，用来实现响应式设计，在 CSS 相关的小节中，老师会详细解释语法细节。 */
/* 请阅读：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries  */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* 这里是 CSS 动画的关键帧语法，在 CSS 相关的小节中，老师会详细解释语法细节。 */
/* 参见：https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animations */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
